[Desktop Entry]
Name=@@NAME_LONG@@
Comment=eShell
GenericName=eShell
Exec=/usr/share/@@NAME@@/@@NAME@@ --reuse-window %F
Icon=@@ICON@@
Type=Application
StartupNotify=false
StartupWMClass=@@NAME_SHORT@@
Categories=Utility;
MimeType=text/plain;inode/directory;
Keywords=eShell;

